#dd , #dd1{
    color: rgb(0, 112, 205);
}
.page33{
    font-size: 20px;
    font-weight: 300;
}
#add{
    font-weight: bold;
    font-size: 16px;
}
.containpppp{
    margin-left: 12%;
    margin-top: 2%;
}
/* #seee{
    margin-left: 10%;
} */
/* #sub{
    margin-left: 50%;
    font-size: 24px;
} */
#w3review{
    margin-left: 24%;
}
.details{
    font-size: 16px;
    margin-left: 0;
    padding-left: 0px !important;
}


/* MY NEEEEW STYLLLE */

.MAXbooox {
    border: 1px solid rgb(224, 224, 224);
    background: white;
    border-radius: 22px;
    box-shadow: rgb(0 0 0 / 29%) 0px 6px 18px 0px;
    margin: 30px auto;
    padding: 35px ;

    max-width: 1600px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    direction: ltr;
}

/* i {
    color: #2196f3 !important;
} */

.headerrr {
    justify-content: space-between;
    padding: 50px;
    
}

.exxxtra {
    padding: 30px;
}

.pageIMG {
    border-radius: 20px;
    width: 500px;
    height: 250px;
}

.MINIcontainerr {
    margin: 0px 60px;
    padding: 45px;
    width: 90%;
}

.daaata {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.detaaa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    direction: ltr;
}

.detaaalzzz {
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ced4dc;
    padding: 6px 12px;
    margin: 15px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.detailz {
    height: 45px;
    width: 86%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ced4dc;
    padding: 6px 12px;
    margin: 15px 15px 15px 25px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.picc {
    margin: 8px 0px;
    justify-items: left !important;
    justify-content: flex-start !important;
    width: 50% !important; 
    padding-left: 0px;
}

.w3review {
    width: 50%;
}