#dd , #dd1{
    color: rgb(0, 112, 205);
}
.page33{
    font-size: 14px;
}
#add{
    font-weight: bold;
    font-size: 16px;
}
.containpppp{
    margin-left: 12%;
    margin-top: 2%;
}
#seee{
    margin-left: 10%;
}
#sub{
    margin-left: 50%;
    font-size: 24px;
}
#w3review{
    margin-left: 24%;
}
.details{
    font-size: 16px;
    margin-left: 6%;
}