/* Start Locations CSS */
.detail{
  margin-right: 47% !important;
  font-size: 14px;
}
.DivZZ{
  border-radius: 20px;
}
.de{
  margin-left: 8%;
  font-size: 14px;
}
#serv444{
  margin-left: 3%;
  font-size: 14px;
}
#gov{
  margin-right: 50%;
  font-size: 14px;
}
.fil{
  margin-left: 20%;
}

/* End Locations CSS*/
/*    Start Details Locations Css*/

.image1{
    width: 80%;
    height: 80%;
    border-radius: 25px;
    margin-top: 9%;
    margin-left: 20%;
}

  .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-top: 2%;
    color: black;
  }
  .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
  }
  .form1 h3{
    margin-bottom: 4%;
    color: rgb(0, 112, 205);
   text-align: center;
    
  }
  .form1{
    background-color: #ececec;
    border-radius: 25px;
    width: 65%;
    margin-left: 25%;
  }
  .jj{
    margin-bottom: 4%;
  }
 
 .divMain{
    margin-top: 5%;
 }
 .spanDe{
  margin-left: 4%;
 }
/* End Details Locations Css*/
/* style loginUser page start*/
.conCards{
  margin-left: 12%;
}
/* style loginUser page end */
    