/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    font-size: 12px;
    /* justify-content: center; */
    /* background: #575d57; */
}


.maxbox {
    width: 95%;
    max-width: 1170px;
    margin: auto;
    direction: ltr;
    display: block;
    font-size: 12px;
}

.mybooox {
    border-radius: 11px;
    background-color: white;
    width: 370px;
    margin: 30px auto;
    display: block;
    border: 1px solid #2196f3;
}

.my2i2le {
    border-radius: 11px 11px 0px 0px;
    font-size: 16px;
    font-weight: 300;
    background-color: #2196f3;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 4px 0px;

}

.contentbooox {
    padding: 20px 45px;
    display: block;
}

.logiiin {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.myinf000 {
    margin-bottom: 15px;
}

.req {
    display: inline-block;
    text-align: start;
    margin: 17px 0px 8px;
    color: rgb(102, 102, 102);
    font-size: 16px;
    width: 100% !important;
    cursor: default;
}

.ansser {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ced4dc;
    padding: 6px 12px;
    margin: 0px;
    font-size: 14px;
    transition: all 0.3s ease;
}

input[type="submit"] {
    cursor: pointer;
    display: flex;
    margin-top: 3px;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: #2196f3 !important;
    border: none;
    white-space: nowrap;
    width: 100%;
    outline: none;
    position: relative;
    margin-bottom: 7px;
    margin-left: 15px;
    font-size: 13px !important;
}

.remmbermeee {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    display: inline-block;
}

.checkmeee {
    position: absolute;
    top: calc(50% - 6px);
    left: 0px;
    /* right: 5px; */
    height: 17px;
    width: 17px;
    border: 1px solid rgba(102, 102, 102, 0.48);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.07);
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.mylabel {
    font-weight: normal;
    margin: 0px;
    display: inherit;
    vertical-align: inherit;
    color: rgb(102, 102, 102);
    font-size: 14px;
    padding: 0px;
    cursor: pointer;
    /* font-size: 22px; */
    user-select: none;
    font-size: 16px;
}

